[Desktop Entry]
Name=sosumi
Exec=sosumi %U
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/sosumi.png
StartupWMClass=susumi
Comment=Download and install macOS in a VM
